@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
body {
    font-family: Roboto;
    color: #777777
}

h2 {
    font-family: Exo;
    text-transform: uppercase;
    letter-spacing: 14px;
    color: #555555
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 120px;
}

#menu {
    font-size: 140%;
    list-style-type: none;
    letter-spacing: 1px;
    margin-right: 120px;
}

#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
}

.old-new {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#move-image-down {
    margin-top: 30px;
}

.jumbotron {
    padding-left: 20px;
    padding-right: 20px;
}


/*---------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans serif;
    font-weight: 300;
    color: #fafafa;
}

.shift {
    margin-top: 20px;
}


/*----------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}


/*----------------------------------Test for text in a box */

.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


/*----------------------------------Test for text in a box */

.zoom {
    padding: 10px;
    background-color: white;
    transition: transform .8s;
    /* Animation */
    width: auto;
    height: auto;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}