#hero-image {
    height: 600px;
    width: 100%;
    background: url(/images/before-after-profile.jpg) no-repeat center center;
    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}