* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777
}

h2 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(/images/before-after-profile.jpg) no-repeat center center;
    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}