* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #777777
}

h2 {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 14px;
    color: #555555
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}

#menu {
    font-size: 140%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

div img {
    width: 80%;
    height: 600px;
}

#reduce {
    height: auto;
}

#move-image-down {
    margin-top: 30px;
}

.jumbotron {
    padding-left: 20px;
    padding-right: 20px;
}